services:
  bot:
    build: .
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - DB_URL=sqlite:////app/data/storage.db
    restart: unless-stopped
    volumes:
      - ./src:/app/src 
      - ./data:/app/data
