name: Deploy Stage

on:
  push:
    # branches: ["main"]
    paths: ["app/**", ".github/workflows/**"]

jobs:
  deploy:
    environment:
      name: staging
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          password: ${{ secrets.DEPLOY_PASSWORD }}
          script: |
            cd stage
            git pull
            cd app
            docker compose -f docker-compose.stage.yml down
            docker compose -f docker-compose.stage.yml --env-file ../.env up -d --build
