name: Deploy

on:
  schedule:
    - cron: '0 8 * * 0' # every sunday at 8:00 UTC

jobs:
  deploy:
    environment:
      name: production
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          password: ${{ secrets.DEPLOY_PASSWORD }}
          script: |
            cd prod
            git pull
            cd app
            docker compose down
            docker compose up -d --build
